Introduction
Welcome to the Connecting Python to SQL lab!

In this lab, you will be working with the Sakila database on movie rentals. Specifically, you will be practicing how to do basic SQL queries using Python. By connecting Python to SQL, you can leverage the power of both languages to efficiently manipulate and analyze large datasets. Throughout this lab, you will practice how to use Python to retrieve and manipulate data stored in the Sakila database using SQL queries. Let's get started!

Challenge
In this lab, the objective is to identify the customers who were active in both May and June, and how did their activity differ between months. To achieve this, follow these steps:

1.Establish a connection between Python and the Sakila database.


3.Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

4.Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [11]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

sk = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+sk
engine = create_engine(connection_string)
engine

 ········

Engine(mysql+pymysql://root:***@localhost/sakila)

In [13]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM rental ')
    result = connection.execute(query)

result

### 2.Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
month: an integer representing the month for which rental data is to be retrieved.
year: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [17]:
def rental_month(connection,engine,year,month):
    with engine.connect() as connection:
        txt = f'''SELECT *
                FROM rental
                WHERE YEAR(rental_date)={year}
                AND MONTH(rental_date)={month};'''
        query = text(txt)
        result = connection.execute(query)
        df= pd.DataFrame(result.all())
        return df

In [19]:
rental_month(connection,engine,2005,5)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
1151,1153,2005-05-31 21:36:44,2725,506,2005-06-10 01:26:44,2,2006-02-15 21:30:53
1152,1154,2005-05-31 21:42:09,2732,59,2005-06-08 16:40:09,1,2006-02-15 21:30:53
1153,1155,2005-05-31 22:17:11,2048,251,2005-06-04 20:27:11,2,2006-02-15 21:30:53
1154,1156,2005-05-31 22:37:34,460,106,2005-06-01 23:02:34,2,2006-02-15 21:30:53
1155,1157,2005-05-31 22:47:45,1449,61,2005-06-02 18:01:45,1,2006-02-15 21:30:53

### 3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

### The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

### Hint: Consider making use of pandas groupby()

In [22]:
def rental_count_month(df, month, year):
    # Create the column name based on the month and year
    column_name = f"rentals_{str(month).zfill(2)}_{year}"
    
    # Group by 'customer_id' and count the rentals
    rental_counts = df.groupby('customer_id').size().reset_index(name=column_name)
    
    # Return the resulting DataFrame
    return rental_counts

In [24]:
rental_count_month(df, month, year)

NameError: name 'df' is not defined

### 4.Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [26]:
def compare_rentals(df1, df2):
    # Merge the two DataFrames on 'customer_id'
    merged_df = pd.merge(df1, df2, on='customer_id', how='outer', suffixes=('_month1', '_month2'))
    
    # Fill any NaN values with 0 in case a customer has rentals in one month but not the other
    merged_df.fillna(0, inplace=True)
    
    # Calculate the difference between the rental counts of the two months
    merged_df['Difference'] = merged_df.iloc[:, 1] - merged_df.iloc[:, 2]
    
    # Return the resulting DataFrame
    return merged_df